body {
    background-image: url(../images/desenho-loucao.jpg);
    background-size: cover
}

table {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

th {
    background-color: grey;
    color: white;
}
