blockquote {
    margin-left: 60px;
    font-style: italic;
}

h2 {
	font-family: "Times New Roman";
	color: limegreen;
    font-size: 22px;
}

.imagemFundoCaixa {
    border: 3px solid limegreen;
    padding: 10px;
    background-image: url(../images/fundo.png);
}

img {
    display: block;
    width: 300px;
    border: 8px solid limegreen;
    margin-left: auto;
    margin-right: auto
}